.navWrap {
  border-bottom: 1px solid #ebebeb;
}

.nav {
  max-width: 1280px;
  margin: auto;
  position: relative;
  line-height: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.navItem {
  cursor: pointer;
}

.navItem.active,
.navItem:hover {
  color: #f5212d;
  border-bottom: 3px solid #f5212d;
}

.logo {
  position: absolute;
  left: 0;
  width: 100px;
  background-color: #f76c10;
  color: #fff;
}
.buy {
  margin: 0 40px;
}
.searchBox {
  position: absolute;
  top: 10px;
  right: 120px;
  border: 1px solid #ccc;
}

.searchBox input {
  padding-left: 12px;
  border: 0;
  border-right: 2px solid #ccc;
}

.searchBox button {
  cursor: pointer;
  border: 0;
}
