.loginContainer {
  margin-top: 4px;
  margin-bottom: 6px;
  height: calc(100vh - 130px);
  min-height: 520px;
  background-color: #f76c10;
}

.loginWrap {
  width: 900px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: flex-end;

  .login {
    width: 300px;
    border-radius: 10px;
    background: #fff;
    padding: 30px 20px 60px;
  }

  .login h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  .name,
  .pwd {
    position: relative;
  }

  .name::before,
  .pwd::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 18px;
    height: 18px;
  }

  .name::before {
    background: url("../../assets/username.png");
    background-size: 100%;
  }

  .pwd::before {
    background: url("../../assets/password.png");
    background-size: 100%;
  }

  .login .formItem {
    width: 100%;
    margin-bottom: 16px;
    padding-left: 30px;
  }

  .loginBtn {
    width: 100%;
    background: #444;
    color: #fff;
    line-height: 40px;
    margin: 8px 0 24px;
    cursor: pointer;
  }

  .loginBtn:hover {
    box-shadow: 0 0 10px #ccc;
  }

  .opeWrap {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 12px;
  }

  .opeItem {
    cursor: pointer;
  }

  .opeItem:hover {
    color: #888;
  }
}
